@import 'tailwindcss';
:root {
  --primaryColor: #fff;
  --secondryColor: #e58411;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p,
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
@layer base {
  h1 {
    @apply text-white text-2xl;
  }
}
input,
textarea {
  text-indent: 5px;
}
@media (width < 48rem) {
  div {
    max-width: 100%;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: medium;
  }
}
